
a{
	text-decoration: none;
	color: blue;
}
div.link a{
	color: blue;
}
.link a:visited{
	color: rosybrown;
}
.link a:hover{
	color: red;
	background-color: green;
}
.link a:active{
	color: darkgoldenrod;
	background-color: lightyellow;
	font-weight: bold;
}
div.link1 p a{
	color: blue;
}
.link1 p a:visited{
	color: rosybrown;
}
.link1 p a:hover{
	color: red;
	background-color: green;
}
.link1 p a:active{
	color: darkgoldenrod;
	background-color: lightyellow;
	font-weight: bold;
}
div.link2 ul li a{
	color: blue;
}

.link2 a:link{
	color: red;
}
.link2 a:visited{
 color: darkgreen;
}
.link2 a:hover{
	color: #fff;
	background-color: #000;
	font-family: sans-serif;
	font-style: italic;
	font-size: 20px;
}
.link2 a:active{
	color: darkviolet;
	background-color: orange;
}


ul.list1{
	list-style-type: upper-roman;
	list-style-position: outside;
	text-decoration: none;
}
ul.list2{
	list-style-type: upper-alpha;
	list-style-position: inside;
	text-decoration: none;
}
ul.list3{
	list-style-type: lower-latin;
	list-style-position: inside;
	text-decoration: none;
}
ul.list4{
	list-style-type: square;
	list-style-position: inside;
	text-decoration: none;
}
ul.list5{
	list-style: none;
	text-decoration: none;
	display: flex;
}
ul.list5 li{
	padding-right: 20px;
}
